body {
    color: black;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header ul {
    list-style-type: none;
    padding: 20px;
}

nav{
    border: 5px solid #8ab364;
    height: 60px;
    margin-top: 30px;
    border-radius: 1%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

header li{
    margin-bottom: 100px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 500px;
    height: 200px;
    border: 5px solid #8ab364;
}

.center {
    text-align: center;
}

h1 {
    color: #8ab364;
}

.container {
    padding: 10px 50px;
}

nav a:hover {
    color: #8ab364;
}

#Estacionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagens {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 20px;
}

.imagens img {/*imagens estacionamento*/
    margin: 0 10px;
}

#versao1 { /* Descrição da img*/
    margin-left: -590px;
}
#versao2 { /* Descrição da img*/
    margin-left: 580px;
    margin-top: -40px;
}

header a{
    color: #8ab364;
}

#BD img{
    width: 800px;
    height: 500px;

}

.background{
    background-color: aliceblue;
    border-radius: 30px;
}

h4{
    color: white;
    margin-top: -57px;
}

.background1{
    width: 800px;
    background-color: aliceblue;
    border-radius: 30px;
    margin-left: 200px;
}